@model IEnumerable<TrashCanProject.Models.TrashCanSchedule>

@{
    ViewBag.Title = "Filter";
}

<h2>Today's Pickup</h2>

<p>
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartSuspend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndSuspend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraPickupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartSuspend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndSuspend)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
