@model IEnumerable<TrashCanProject.Models.TrashCanSchedule>

@{
    ViewBag.Title = "TrashCanSchedules";
}

<h2>Available Pick Up Days</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pickUpDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Cost)
        </td>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pickUpDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraPickupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        </td>
    </tr>
}

</table>
