@model IEnumerable<TrashCanProject.Models.TrashCanSchedule>

@{
    ViewBag.Title = "TrashCanSchedules";
}

<h2>Today's PickUp Days</h2>

<p>
    @*@Html.DropDownList("ListName", new SelectList(ViewBag.ListData, "PickUpDays", "pickUpDays"), new { @id = "ListName" })
    @Html.ActionLink("Filter", "Filter", new { id = "Monday" })*@

    @using (Html.BeginForm("Filter", "Employee"))
    {
        <table>
            <tr>
                <td>
                    @Html.DropDownList("id", new SelectList(ViewBag.ListData, "PickUpDays","pickUpDays"))
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Filter">
                </td>
            </tr>
        </table>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pickUpDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Cost)
        </td>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pickUpDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraPickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>
